@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.titulo-destaque{
    color: #22D4FD; 
}
.apres{
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apres__cont{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apres__cont__tit{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apres__cont__text{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.apres__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apres__links__but{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 280px;
    border: 2px solid #22D4FD;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.apres__links__but:hover{
    background-color: #272727;
}
.apres__links__tit{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.rodape{
    padding: 24px;
    color: black;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
