@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --cor-pri: #2c3639;
    --cor-sec: #dcd7c9;
    --cor-ter: #a27b5c;
    --cor-quar: #3f4e4f; 
    
    --fonte-pri: 'Krona One', sans-serif;
    --fonte-sec: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-pri);
    color: var(--cor-sec);
}
.titulo-destaque{
    color: var(--cor-ter); 
}
.cabecalho{
    padding: 2% 0 0 10%;
}
.cabecalho__menu__link{
    font-family: var(--fonte-sec);
    font-size: 1.5rem;
    font-weight: 600;
    color : var(--cor-ter);
    text-decoration: none;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.apres{
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apres__cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apres__cont__tit{
    font-size: 2.25rem;
    font-family: var(--fonte-pri);
}
.apres__cont__text{
    font-size: 1.5rem;
    font-family:var(--fonte-sec);
}
.apres__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apres__links__but{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border: 0.125rem solid var(--cor-ter);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px;
    color: var(--cor-sec);
    font-family: var(--fonte-sec);
    text-decoration: none;
}
.apres__links__but:hover{
    background-color: var(--cor-quar);
}
.apres__links__tit{
    font-family: var(--fonte-pri);
    font-weight: 400;
    font-size: 1.5rem;
}
.apres__img{
    width: 50%;
}
.rodape{
    padding: 24px;
    color: var(--cor-pri);
    background-color: var(--cor-ter);
    text-align: center;
    font-family: var(--fonte-sec);
    font-size: 1.5rem;
    font-weight: 400;
}
